# @author : Victor Jatoba
# @email  : victorjatoba10@gmail.com
# @date   : 21/04/2017

# General Files

*.tmp

# Windows Files

*.ini

# Linux Files

*~

# Eclipse Files

.settings/*
.classpath
.project
.metadata/*

# Java Files

*.class
/target/
/build/
